

.arrow-left,
.arrow-right{
    background-image:url("../public/images/aa.png") ;
    background-position: center;
    background-size: 3em;
    background-repeat: no-repeat;
    /* background: #fff; */
    position: absolute;
    top: 40%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-left:hover,.arrow-right:hover{
    background: #000;
    color:#fff;
}

.arrow-left{
    left:-5em;
    
}

.arrow-right{
    right:-5em;
     transform: rotateY(180deg);
}

.imgae-fake{
    animation:imgFade 0.5s ease-in-out;
}

@keyframes imgFade{
    0% {opacity: 0;}
    100%{opacity: 1;}
}




.slider {
    background-image: url("../public/images/re-r.jpg");
    background-position: top 50px right ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
    color: purple;
    text-shadow: 2px 2px 2px white;
    
 
}

.container{
 
    position: absolute;
    

}


.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 183, 240, 0.2);

    
} 


/* layer; */
 
